---

const { logo, name, description, label, link } = Astro.props

---


<div class="col-lg-12 col-xl-6 py-4">
    <article class="flex flex-row p-4 p-lg-5">
        <img 
            src={logo} 
            class="editor-logo"
        />
        <div class="ms-5 small">
            <h5>{name}</h5>
            <p>{description}</p>
            <p>
                <a href={link} class="primary-color">
                    {label}
                </a>
            </p>
        </div>
    </article>
</div>